body {
    text-align: center;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
}

input[name="interval"] {
    padding: 10px 5px;
}

button {
    margin: 5px;
    padding: 5px 10px;
    background: none;
    outline: none;
}

.flexBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.statusImg {
    width: 25px;
    height: 25px;
    display: none;
}

.errorMsg {
    font-size: 12px;
    margin-left: 5px;
    font-weight: bold;
    display: none;
}

.errorMsgBox {
  display: none;
  align-items: center;
  width: 30%;
  background: #e8aeae;
  color: #2B2B2B;
  text-align: left;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 3px;
}

.errorMsgBox > img {
  margin-right: 5px;
}
